<app-main-page></app-main-page>


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/panel-solar-1.jpg" class="d-block w-100"  alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Contra el cambio climático</h5>
          <p>La energía solar no emite gases de efecto invernadero, por lo que no contribuye al calentamiento global. De hecho, se muestra como una de las tecnologías renovables más eficientes en la lucha contra el cambio climático. </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/panel-solar-2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Es inagotable y se renueva</h5>
          <p>Al contrario que las fuentes tradicionales de energía como el carbón, el gas, el petróleo o la energía nuclear, cuyas reservas son finitas, la energía del sol está disponible en todo el mundo y se adapta a los ciclos naturales (por eso las denominamos renovables). Por ello son un elemento esencial de un sistema energético sostenible que permita el desarrollo presente sin poner en riesgo el de las futuras generaciones. </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/panel-solar-3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>No contaminante</h5>
          <p>De todas estas ventajas, es importante destacar que la energía solar no emite sustancias tóxicas ni contaminantes del aire, que pueden ser muy perjudiciales para el medio ambiente y el ser humano. Las sustancias tóxicas pueden acidificar los ecosistemas terrestres y acuáticos, y corroer edificios. Los contaminantes de aire pueden desencadenar enfermedades del corazón, cáncer y enfermedades respiratorias como el asma. La energía solar no genera residuos ni contaminación del agua, un factor muy importante teniendo en cuenta la escasez de agua.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>