<!-- <button (click)="logout()">
    Logout
</button> -->


<div class="contenedor">
    <div>
        <ul class="navegacion-principal">
            <li class="title"><a routerLink="/dashboard">Solar-Panel</a></li>
            <li class="nav-login"><a (click)="logout()">Logout</a></li>
            <li class="nav-servicios"><a routerLink="/dashboard">Quote</a></li>
            <li class="nav-servicios"><a routerLink="/dashboard">Contact</a></li>
            <li class="nav-servicios"><a routerLink="/dashboard">About</a></li>
            <li class="nav-servicios"><a routerLink="/dashboard">Home</a></li>
        </ul>
    </div>
</div>

